export LISTEN_ADDRESS=127.0.0.1:8080
export LOG_FORMAT=console

# The development PostgreSQL is configured via the PG* variables such as PGHOST and PGDATABASE.
export PGPORT=5022
export PGDATABASE=web_starter_app_dev
export PGUSER=postgres

# The application server connects to PostgreSQL using a non-superuser role.
export APP_PGUSER=web_starter_app

# The tests use the same connection settings as development with the exception of the database.
export TEST_PGDATABASE=web_starter_app_test

# Tests that mutate the database each run with a separate test database. By default this is the number of CPUs on the
# host.
# export TEST_DATABASE_COUNT=8

export TERN_CONFIG=postgresql/tern.conf
export TERN_MIGRATIONS=postgresql/migrations
