package view

import "github.com/jackc/web-starter-app/lib/formdata"

templ ChangePassword(formData *formdata.FormData) {
	<div>Change Password</div>
	<form method="post" action="/change_password">
		<input type="hidden" name="gorilla.csrf.Token" value={ csrfToken(ctx) }/>
		@VerticalLabeledForm(formData)
		@button("Save", templ.Attributes{"type": "submit"})
	</form>
}
