package view

import "time"

templ Hello(csrfToken string, name string, now time.Time) {
  <div>Hello, { name }!</div>
  <div>It is { now.Format("15:04:05") } in the database.</div>

  <a href="/walks/new">New walk</a>

  <form action="/logout" method="post">
    <input type="hidden" name="gorilla.csrf.Token" value={csrfToken} />
    <button type="submit">Logout</button>
  </form>
}
