package view

import (
	"github.com/jackc/web-starter-app/lib/formdata"
)

templ button(text string, attrs templ.Attributes) {
  <button {attrs...}>{text}</button>
}

templ WalksNew(formData *formdata.FormData) {
  <form method="post" action="/walks">
    <input type="hidden" name="gorilla.csrf.Token" value={csrfToken(ctx)} />
    @VerticalLabeledForm(formData)
    @button("Save", templ.Attributes{"type": "submit"})
  </form>
}
